<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <p>図書管理</p>
    </header>
    <h3>管理者ページ</h3>
    <p>確認画面</p>
    <form action="{{url_for("delete_book_end")}}">
        <p>タイトル：{{title}}</p>
        <p>著者：{{author}}</p>
        <p>出版社：{{publisher}}</p>
        <p>ISBN：{{isbn}}</p>
        <p>ジャンル：{{genre}}</p>
        <button type="submit">削除</button>
    </form>
</body>
</html>