<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <p>図書管理</p>
    </header>
    <nav class="bbb">
        <h3>管理者ページ</h3>
        <a href="{{url_for("delete_book_list")}}" class="btn_03">続けて削除する</a></br>
        <a href="{{url_for("admin")}}" class="btn_03">ホームに戻る</a>
    </nav>
</body>
</html>