<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <p>図書管理</p>
    </header>
    <nav class="bbb">
        <h3>マイページ</h3>
        <p>ようこそ</p>
        <a href="{{url_for("book_list")}}" class="btn_03">本の一覧</a></br>
        <a href="{{url_for('logout')}}" class="btn_03">ログアウト</a>
    </nav>
</body>
</html>